<%- include('../partials/header') %>

<div class='container my-4'>
  <h1 class='text-center my-5'>Outras Unidades</h1> 
  <a href="javascript:history.go(-1)"><button class='btn btn-secondary' type="button">Voltar</button></a>
    
  <table class="table table-hover table-bordered table-sm mt-5">
    <thead>
      <tr class='text-center'>
        <th scope="col">UL</th>
        <th scope="col">Local</th>
        <th scope="col">Responsável</th>
        <th scope="col">N. Bens</th>
        <th scope="col">Termo</th>
        <th scope="col">Todos Lidos</th>
        <th scope="col">Editar</th>
      </tr>
    </thead>
    <tbody>
      <% unidadesOutros.map(unidade => { %>
      <tr class='text-center'>
        <th scope="row"><%= unidade.ul %></th>
        <td><%= unidade.local %></td>
        <td><%= unidade.responsavel %></td>
        <td><%= unidade.bens %></td>
        <td>
          <form>
            <select class='form-control' id='termo' name='termo'>
              <option value='pendente'>Pendente</option>
              <option value='ok'>Entregue</option>
            </select>  
        </td>
        <td>
          <select class='form-control' id='localizados' name='localizados'>
            <option value='pendente'>Bens não Lidos</option>
            <option value='ok'>Todos Lidos</option>
          </select>
        </td>
        <td><button type="submit">registrar</button></td>
        </form>
      </tr>
      <% }) %>
    </tbody>
  </table>
</div>

<%- include('../partials/footer') %>

